:global(.danmuContainer){
  width: 800px;
  height: 450px;
  position: relative;
  background-color: black;
  overflow: hidden;
}
:global(.singleDanmu){
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  z-index: 100 ;
}