.loginPanel {
  display: flex;
  align-items: flex-end; }
  .loginPanel button {
    margin-bottom: 10px;
    background-color: #2fc4d5;
    color: #ccc;
    border-color: #ccc; }
    .loginPanel button:active, .loginPanel button:focus {
      background-color: #2fc4d5;
      color: #ccc;
      border-color: #ccc; }
