$base-blue: #2fc4d5 ;

.registerMask{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  z-index: 100;
  opacity: .7;
}

.registerForm{
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: $base-blue;
  border-radius: 10px;
  box-shadow: 0 1px 1px grey;
  font-size: 16px;
  font-weight: 600;
  z-index: 101;
  input{
    height: 44px;
    width: 250px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid paleturquoise;
    border-radius: 3px;
    margin: 5px auto 5px 5px;
    text-align: center;
    color: $base-blue;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
  }
  input[placeholder]{
    color: $base-blue;
    font-weight: lighter;
  }
}

.submitBtn{
  display: block;
  height: 44px;
  width: 250px;
  margin-top: 10px;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: $base-blue ;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  box-shadow: 0 0 5px #d2d2d3;
  &:active{

  }

}

.closeBtn{
  display: block;
  position: absolute;
  top: 20px ;
  right: 20px;
  height: 25px;
  width: 25px;
  z-index: 101;
  cursor: pointer;
}

.registerBtn{
  cursor: pointer;
}

.valError{
  height: 10px;
  color: red;
}