.loginMask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  z-index: 100;
  opacity: .7; }

.loginForm {
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2fc4d5;
  border-radius: 10px;
  box-shadow: 0 1px 1px grey;
  font-size: 16px;
  font-weight: 600;
  z-index: 101; }
  .loginForm input {
    height: 44px;
    width: 250px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid paleturquoise;
    border-radius: 3px;
    margin: 0 auto 10px 5px;
    text-align: center;
    color: #2fc4d5;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300; }
  .loginForm input[placeholder] {
    color: #2fc4d5;
    font-weight: 600; }

.loginBtn {
  display: block;
  height: 44px;
  width: 250px;
  margin-top: 10px;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #2fc4d5;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  box-shadow: 0 0 5px #d2d2d3; }

.closeBtn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
  z-index: 101;
  cursor: pointer; }

.registerBtn {
  cursor: pointer; }

.loginError {
  height: 10px;
  color: red; }
